@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family:'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  border-radius: 2px;
  border: none;
  height: 35px;
  max-width: 80px;
  width: 100%;
  background-color: rgb(221, 11, 81);
}

button,h1{
  color: #fff;
}

button:hover{
  background-color: rgb(199, 21, 80);
}

.content-logo{
  text-align: center;
}

.content-logo h1{
  margin-top: 20px;
}

.content{
  max-width: 600px;
  width: 100%;
  background: #961778ab;/*#c3249dab;*/
  margin: 70px auto 0;
  border-radius: 4px;
  padding: 2rem;
}